<div>
  <app-page-header [heading]="'Etude YouTube'" [icon]="'fa-table'"></app-page-header>
  <div class="row">
      <div class="col col-sm-6 col-md-5">
          <div class="card mb-3">
              <div class="card-header">
                  Liste des liens des vidéos YouTube
              </div>
              <div class="card-body table-responsive">
                  <button pTooltip="{{'Ajouter url' | translate}}" (click)="showDialogUrl(selectedUrl)"
                      class="btn btn-primary" tooltipPosition="left"> {{'Ajouter' | translate}}</button> <br> <br> <br>
                  <table class="table table-bordered">
                      <thead class="thead-dark">
                          <tr>
                              <th>{{'Lien' | translate}}</th>
                              <th>{{'Actions' | translate}}</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let rech of rechs; let index = index;" (click)="selectUrl(rech)"
                              style="cursor: pointer;"
                              [ngStyle]="{'background-color':selected.url === rech.url ? 'rgba(0, 172, 237, 0.42)' : '' }">
                              <td> {{  rech.url }} </td>
                              
                              <td>
                                  <button pTooltip="{{'Edit' | translate}}" (click)="showDialogUrl1(rech)"
                                      class="btn btn-primary" tooltipPosition="left"><i
                                          class="fa fa-pencil-square-o"></i></button>
                                  <button pTooltip="{{'Delete' | translate}}" (click)="deleteUrl(rech)"
                                      class="btn btn-danger" tooltipPosition="left"> <i
                                          class="fa fa-trash"></i></button>
                              </td>
                          </tr>


                      </tbody>
                  </table>
              </div>
          </div>

      </div>

      <p-dialog header="Add" [(visible)]="displayUrl" [modal]="true">
        <form [formGroup]="formulaire">
            <div class="form-content">
                <div class="form-group">
                    <input type="text" name="url" required id="url" formControlName="url">
                    <div *ngIf="url.touched && url.invalid">
                        <small *ngIf="url.errors.required" class="form-text text-danger">{{'Url Required' | translate}}</small>
                    </div>
                </div>
            </div>
        </form>

        <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="displayUrl=false;addUrl()" label="{{'Save'|translate}}"></button>
            <button type="button" pButton icon="pi pi-close" (click)="displayUrl=false;selectedUrl={};" label="{{'Cancel'|translate}}"
                class="ui-button-secondary"></button>
        </p-footer>
    </p-dialog>

    <p-dialog header="Edit" [(visible)]="displayUrl1" [modal]="true">
      <form>
          <div class="form-content">
              <div class="form-group">
                  <input type="text" name="url" required id="url" [(ngModel)]="selectedUrl.url"
                      class="form-control input-underline input-lg">

              </div>
          </div>
      </form>

      <p-footer>
          <button type="button" pButton icon="pi pi-check" (click)="displayUrl1=false;saveUrl(selectedUrl)"
              label="Save"></button>
          <button type="button" pButton icon="pi pi-close" (click)="displayUrl1=false;selectedUrl={};" label="Return"
              class="ui-button-secondary"></button>
      </p-footer>
  </p-dialog>
</div>
